.profile-container {
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    margin-bottom: 20px;
  }
  
  .profile-header .profile-picture {
    color: #4a4a4a; /* Color for the icon */
    margin-bottom: 10px;
  }
  
  .profile-header h2 {
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    font-size: 24px;
    color: #333;
  }
  
  .profile-header input {
    font-size: 24px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    font-size: 18px;
    color: #555;
  }
  
  .profile-details {
    text-align: center; /* Center aligns the content */
    margin-bottom: 20px;
  }
  
  .profile-icon {
    color: #4a4a4a;
    margin-bottom: 15px; /* Adds space below the icon */
  }
  
  .name-and-input h2,
  .name-and-input input {
    margin: 0 auto; /* Centers the text and input field */
    padding: 5px;
    font-size: 24px;
    color: black;
    border: none;
    background: transparent;
    width: fit-content; /* Makes the width of the element fit its content */
  }
  
  .name-and-input input {
    border-bottom: 1px solid grey; /* Adds an underline to the editable input */
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: #c9302c;
  }
  
  
  .profile-contianer .card {
    align-items: center;
    text-align: center;
    padding-top: 25px;
    
  }
  
  .profile-role li{
    margin-bottom: 1px;
    text-align: left;
  }
  
  .first-row-buttons {
    margin-bottom: 5px;
  }
  
  .css-1n3lyxl-MuiAvatar-root {
    margin-bottom: 10px;
    font-size: 3rem;
  
  }
  
  .avatar-text {
    font-size: 6rem;
    justify-content: center;
  
  }
  
  .review-page h5 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    border-radius: 50px;
    color: black;
  }
  
  .review-link {
    text-decoration: none;
    color: inherit; /* Optional: to make link color same as normal text */
  }
  
  .review-link:hover {
    text-decoration: underline; /* Adds an underline on hover */
  }

  .trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .page-Sub {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 50px;
    color: black;
  }
  